<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: (@movie), method: :patch, data: { turbo: false }) do |form| %>
  <div>
    <!--<label for="title_box">
      Title
    </label>-->

  <%= form.label :title %>

  <%= form.text_field :title %>

  <!-- <input type="text" id="title_box" name="query_title" value="<%#= @the_movie.title %>"> -->  
  </div>

  <div>
    <!--<label for="description_box">
      Description
    </label>-->

    <%= form.label :description %>

    <%= form.text_area :description, { rows: 3 } %>

    <!-- <textarea id="description_box" name="query_description" rows="3"><%#= @the_movie.description %></textarea> -->  
  </div>

  <!--<button>
    Update Movie
  </button>-->
  <%= button_tag "Update Movie" %>
<% end %>

<!--
-->
